<section class="row">
	<div layout="column">
		<md-content class="text-center" layout-padding>
			<h1 class="md-title">My Tutor Profile</h1>
		</md-content>
		
		<form name="userForm">
			<md-content layout-padding layout="row" layout-sm="column" class="md-primary">
				<md-input-container flex>
					<label>First Name</label>
					<input ng-model="user.first_name" required>
				</md-input-container>
				<md-input-container flex>
					<label>Last Name</label>
					<input ng-model="user.last_name" required>
				</md-input-container>
			</md-content>
			
			
			<md-content layout-padding layout="row" layout-sm="column">
				<md-input-container flex-gt-sm="33" flex-sm>
					<label>NRIC</label>
					<input ng-pattern="/^[SFTG]\d{7}[A-Z]$/" ng-model="user.nric">
				</md-input-container>
				<md-input-container flex>
					<label>Mobile No.</label>
					<input ng-pattern="/^[89]\d{7}$/" ng-model="user.mobileNo">
				</md-input-container>
				<md-input-container flex-gt-sm="20" flex-sm>
					<label>Date of Birth</label>
					<input type="date" ng-model="user.dob"> 
				</md-input-container>
			</md-content>

			<md-content layout-padding layout="row" layout-sm="column">
				<md-input-container flex-gt-sm="33" flex>
					<label>Block Number OR Building Name</label>
					<input ng-model="user.address.blockNo">
				</md-input-container>
				<md-input-container flex>
					<label>Road Name</label>
					<input ng-model="user.address.roadName">
				</md-input-container>
				<md-input-container flex-gt-sm="20" flex>
					<label>Unit / House No.</label>
					<input ng-model="user.address.unitNo">
				</md-input-container>
			</md-content>

			<md-content layout-padding layout="row" layout-sm="column">

				<md-input-container flex-gt-sm="33" layout="column" layout-align="start" flex>
					<h1 class="md-title">Highest Qualification</h1>
					<md-select ng-model="user.qualifications.highest" aria-label="Education Level" placeholder="Highest Educational Qualification">
						<label layout-padding>Highest Educational Qualification</label>
						<md-option ng-value="qual" ng-repeat="qual in ['PhD', 'Masters', 'Degree', 'Polytechnic Diploma', 'Junior College - A levels']">{{qual}}</md-option>
					</md-select>
				</md-input-container>

				<md-input-container flex-gt-sm="33" layout="column" layout-align="start" flex>
					<h1 class="md-title">Commitment Period</h1>
					<md-select ng-model="user.commitmentPeriod" aria-label="Availability" placeholder="How long you wish to give tuition for?">
						<label layout-padding>How long you wish to give tuition for?</label>
						<md-option value="Less than 3 months">
							Less than 3 months
						</md-option>
						<md-option value="Between 3 - 5 months">
							Between 3 - 5 months
						</md-option>
						<md-option value="More than 6 months">
							More than 6 months
						</md-option>
					</md-select>
				</md-input-container>

				<md-input-container flex-gt-sm="33" layout="column" layout-align="start" id="years-experience" flex>
					<h1 class="md-title">Years of Experience</h1>
					<md-select ng-model="user.experience.years" aria-label="Availability" placeholder="How long you wish to give tuition for?">
						<label layout-padding>How many years have you been teaching tuition?</label>
						<md-option ng-value="experience" ng-repeat="experience in ['< 1 year', '1 year', '2 years', '3 years', '4 years', '5+ years']">{{experience}}</md-option>
					</md-select>
				</md-input-container>
			</md-content>

			<div flex layout-padding class="preferences" id="locations">
				<fieldset class="standard" layout-padding>
					<legend>Preferred Locations</legend>
					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.preferredLocations.north" aria-label="North">
								North
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.preferredLocations.east" aria-label="East">
								East
							</md-checkbox>
						</div>
					</div>
					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.preferredLocations.south" aria-label="South">
								South
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.preferredLocations.west" aria-label="West">
								West
							</md-checkbox>
						</div>
					</div>
					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.preferredLocations.central" aria-label="Central">
								Central
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.preferredLocations.northeast" aria-label="North-East">
								North-East
							</md-checkbox>
						</div>
					</div>
				</fieldset>
			</div>

			<div flex layout-padding class="preferences" id="student-experience">
				<fieldset class="standard" layout-padding>
					<legend>Student Level Experience</legend>

					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.teachingLevels.k1_2" aria-label="K1 - K2">
								Kindergarten (K1 - K2)
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.teachingLevels.p1_2" aria-label="P2 - P2">
								Lower Primary (P1 - P2)
							</md-checkbox>
						</div>
					</div>

					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.teachingLevels.p3_4" aria-label="P3 - P4">
								Middle Primary (P3 - P4)
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.teachingLevels.p5_6" aria-label="P5 - P6">
								Upper Primary (P5 - P6)
							</md-checkbox>
						</div>
					</div>

					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.teachingLevels.s1_2" aria-label="S1 - S2">
								Lower Secondary (S1 - S2)
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.teachingLevels.s3_5" aria-label="S3 - S5">
								Upper Secondary (S3 - S5)
							</md-checkbox>
						</div>
					</div>

					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.teachingLevels.jc" aria-label="Junior College">
								Junior College
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.teachingLevels.uni" aria-label="University">
								University
							</md-checkbox>
						</div>
					</div>

				</fieldset>
			</div>

			<div flex layout-padding class="preferences" id="niche-experience">
				<fieldset class="standard" layout-padding>
					<legend>Your Tuition Experiences</legend>
					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.experience.oneGrade" aria-label="Experience1">
								Improving my students’ result by a grade
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.experience.bigGrade" aria-label="Experience2">
								Largely improving my students’ results by more than one grade (E.g. Fail to Distinction)
							</md-checkbox>
						</div>
					</div>
					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.experience.homework" aria-label="Experience3">
								Supervising and keeping up with my student’s school homework
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.experience.exams" aria-label="Experience4">
								Using top schools’ exam papers as practice for my students before tests/examinations
							</md-checkbox>
						</div>
					</div>
					<div layout="row" layout-wrap>
						<div flex="50">
							<md-checkbox ng-model="user.experience.interest" aria-label="Experience5">
								Developing creative and fun methods of learning to instill subject interest in my students
							</md-checkbox>
						</div>
						<div flex="50">
							<md-checkbox ng-model="user.experience.patience" aria-label="Experience6">
								Coaching my student who has special needs with great patience and commitment.
							</md-checkbox>
						</div>
					</div>
				</fieldset>
			</div>

			<md-input-container flex-gt-sm="50" layout="column" layout-align="start" flex>
				<h1 class="md-title">Type of User</h1>
				<md-select ng-model="user.identity" aria-label="Identity" placeholder="Are you a tutor or a parent?">
					<label layout-padding>Are you a tutor or a parent?</label>
					<md-option value="tutor">
						Tutor
					</md-option>
					<md-option value="parent">
						Parent
					</md-option>
				</md-select>
			</md-input-container>
			
			<md-whiteframe class="md-whiteframe-z1 images-container" layout="column">
				<div layout="row" class="images-container-title">
					<div class="profile-image-container" ng-repeat="image in images | limitTo:-1">
						<div ng-show="!profileImage || profileImage.length === 0">Upload your profile image below</div>
						<img draggable="false" ng-src="{{ image.url() }}"/>
						{{ image.metadata.description || 'No Description' }}
					</div>
				</div>
			</md-whiteframe>

			<md-button class="md-raised" ng-click="openAddImageModal()">Upload Profile Photo</md-button>
			<p layout-padding>
				Please take note your profile photo will be the focus when Parents are 'jungling'.
				Put some effort to making your image look better than average for better results!
			</p>

			<md-button ng-click="check()">Remove Photos</md-button>
			<div layout-padding layout-align="center center" layout="row">
				<md-button ng-click="save(user); navigate('home')" class="md-accent md-raised">Save my Information</md-button>
			</div>
		</form>
	</div>
</section>

			<!-- <md-whiteframe class="md-whiteframe-z1 images-container" layout="column" >
			    <div layout="row" class="images-container-title">
			      <div class="party-image-container" ng-repeat="image in party.images">
			        <div class="main-image" ng-show="image.order === 0">Main Image</div>
			        <img draggable="false" ng-src="{{ getImage(image.id).url() }}"/><br/>
			        {{ getImage(image.id).metadata.description || 'No Description' }}
			      </div>
			    </div>
			</md-whiteframe> -->
