<div class="landing">
	
	<img src="/landing-page.jpg" class="bg" alt="image you want in background"/>
	
	<md-content class="about" layout="row">
		
	<md-card offset="15" flex>
		<md-toolbar class="md-primary thankyou-toolbar">
			  <div class="md-toolbar-tools md-toolbar-tools-bottom">
			      <h1 class="md-display-1 text-center">Thank You</h1>
			  </div>
			</md-toolbar>
		<md-card-content class="md-padding">
			<p class="md-subhead">Thank you for leaving your details with us. We will contact you shortly with suitable matches for your profile.
			</p>
			<!-- <div layout="row"> 
				<div layout="column" layout-padding class="bragging-words">
					<ul>
						<li><h5 class="md-display-1 text-right">EDUCATIONAL</h5></li>
						<li><h5 class="md-display-1 text-right">UNIQUE</h5></li>
						<li><h5 class="md-display-1 text-right">PROFESSIONAL</h5></li>
						<li><h5 class="md-display-1 text-right"><span class="hello-style">CREATIVE</span></h5></li>
					</ul>
				</div>
				<div layout="column" layout-padding>
					<h5 class="md-headline text-left who-are-we">Who are we.</h5>
					<p class="md-body-1">

					My Tutor Jungle is based in Singapore. We are a small non-ordinary tuition agency with over 5 years of experience in the teaching industry. We strive to bring you effective matches between tutors and parents along with high-quality professional service.
					</p>
				</div>
			</div> -->
		</md-card-content>
	</md-card>
	
	<div flex="15"></div>
	<meteor-include	src="footer"></meteor-include>
	</md-content>
</div>
