<md-content class="md-padding" layout="row">
    <md-card flex="60" offset="20" data-ng-repeat="user in tutors" class="jungle-card md-whiteframe-z3" ng-show="selected == $index">

        <md-toolbar class="md-tall md-primary jungle-header">
            <div class="md-actions" layout="row" layout-align="end center" layout-padding>
                <md-button ng-click="addFavourite(user._id)" class="md-accent md-fab" aria-label="addFavourite">
                    <md-tooltip>Add to Favourites</md-tooltip>
                    <i class="glyphicon glyphicon-heart"></i>
                </md-button>
            </div>
            <span flex></span>
            <div class="md-toolbar-tools md-toolbar-tools-bottom">
                <h4 class="md-display-1 profile-indent tutor-profile-name text-left">{{user.first_name + ' ' + user.last_name}}</h4>
            </div>
        </md-toolbar>

        <md-card-content>
            <div class="tutor-profile">
                <h6 class="md-headline text-muted profile-indent">{{user.experience.years}} teaching experience</h6>
            </div>
            <md-list-item>
                <div class="md-list-item-text">
                    <h3 class="md-headline">Highest Education Level</h3>
                    <p class="md-subhead profile-indent qualification-highlight">{{user.qualifications.highest}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <div class="md-list-item-text">
                    <h3 class="md-headline">Commitment Period</h3>
                    <p class="md-subhead profile-indent">{{user.commitmentPeriod}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <div class="md-list-item-text">
                    <h3 class="md-headline">Best Attributes</h3>
                    <p class="md-subhead profile-indent" ng-show="user.experience.homework">Finishing your child's homework</p>
                    <p class="md-subhead profile-indent" ng-show="user.experience.oneGrade">Pushing your child's grade up by one.</p>
                    <p class="md-subhead profile-indent" ng-show="user.experience.bigGrade">Largely improving your child's results by more than one grade. (E.g. Fail to Distinction)</p>
                    <p class="md-subhead profile-indent" ng-show="user.experience.exams">Using top schools’ exam papers as practice for your child's tests & examinations.</p>
                    <p class="md-subhead profile-indent" ng-show="user.experience.interest">Develops creative and fun methods of learning to instill interest in your child's subjects.</p>
                    <p class="md-subhead profile-indent" ng-show="user.experience.patience">Coaching special needs students with patience and commitment.</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <section class="md-list-item-text" layout="row" layout-align="center center">
                <md-button ng-click="previousUser($index)">Previous</md-button>
                <md-button ng-click="nextUser($index)">Next</md-button>
                <md-button ng-click="resetAllFav()">Reset Favourites!</md-button>
            </section>
        </md-card-content>
    </md-card>
</md-content>

