/* core CSS declarations go here */
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

md-list-item .md-list-item-inner > md-icon:first-child {
	margin-top: 0;
	margin-bottom: 0;
}

/* fixes md-backdrop extending page height */
md-backdrop, md-sidenav {
	position: fixed;
	overflow: hidden;
}

.home-page {
	margin-top: 350px;
}

.home-sign-up {
	border-radius: 5px;
	opacity: 0.9;
}

/*Here is the styles for the upload-image-modal*/
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 50px;
  margin: auto;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

.uploaded-image {
  max-height: 300px;
  max-width: 200px;
}

.ng-crop-container {
  width: 100%;
  height: 300px;
}

.add-photo-dialog {
  width: 60%;
}

.add-photo-dialog h3 {
	text-align: center;
}

.images-container-title {
  width: 100%;
}

.identity {
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

.profile-indent {
  margin-left: 1em;
}

.profile-info {
  margin: 20px 50px 50px;
}

/*.sign-up-button {
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-left: -106px;
  margin-bottom: 200px;
}*/

.home-center {
  margin-top: 0;
  background: rgba(0,0,0,0.3);
  color: white;
}

.home-center h1 {
  font-family: 'Patua One', cursive;
  text-shadow: 2px -1px 2px rgba(0, 0, 0, 0.5);
}

.home-center h4 {
  text-shadow: 2px -1px 3px rgba(0, 0, 0, 0.5);
}

.about {
  background: none;
  margin-top: 0px;
}

.about md-card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.about-us-toolbar {
  border-radius: 5px 5px 0 0;
}

/*.about-us > p {
  text-indent: 50px;
}*/

.about-us .large {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.hello-style {
  font-style: italic;
  font-weight: bold;
  color: red;

}

/*.bragging-words {
  color: green;
}*/

.bragging-words p:first-child {
  /*font-weight: bold;*/
  font-family: 'Patua One', cursive;
}

.bragging-words .details {
  font-style: italic;
}

.bragging-words ul {
  list-style: none;
  padding: 0 5px;
}

.bragging-words ul li h5 {
  font-family: 'Patua One', cursive;
}

ul md-divider {
  padding: 5px 0;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}

.login-info, .signup-info {
  background: rgba(0, 0, 0, 0);
  margin-top: 200px;
}

.login-form {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.social-media a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  margin-right: 0.3em;
}

.social-media a:hover {
  color: white;
}

.social-media ul {
  margin-bottom: 0;
  padding-left: 0.3em;
  position: fixed;
  bottom: 0;
  left: 0;
}

.social-media li {
  display: inline;
}

.business-no p {
  color: rgba(102, 113, 116, 1);
  font-size: 0.8em;
  position: fixed;
  right: 0;
  bottom: 0;
}

.sign-up-button {
  position: fixed;
  bottom: 10%;
  left: 10%;
}

.modded-button {
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
}

#sign-up-link {
  text-decoration: underline;
  font-style: italic;
  color: #F50057; /* pink A400 */
  background: rgba(255,255,255,0.3);
}

.main-points {
  color: #F50057; /* pink A400 */
  /*font-style: italic;*/
  /*font-weight: bold;*/
}

/*.profile-image-container {
  width: 200px;
  height: 245px;
  float: left;
  padding: 2px;
  margin-right: 10px;
  border: 2px solid #F8F8F8;
  position: relative;
}

.profile-image-container .profile-image {
	position: absolute;
    top: 5px;
    left: 5px;
    background-color: #f8f8f8;
}

.profile-image-container img {
	max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.images-container {
  background-color: aliceblue;
}*/

.mtj-sidenav {
  width: 200px;
  min-width: 200px;
}
