<div class="landing">
	
	<!-- <img src="/landing-page3.jpg" class="bg" alt="image you want in background"/> -->
	
	<md-content class="about md-primary" layout="row">
		
	<md-card offset="20" offset-gt-lg="30" flex>
		<md-toolbar class="md-accent md-hue-3 about-us-toolbar">
			  <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row">
			      <h1 class="md-display-1 text-center modded-button">About Us</h1>
			      <span flex></span>
			      <i class="fa fa-info-circle"></i>
			  </div>
			</md-toolbar>
		<md-card-content class="md-padding about-us">
			<p class="md-body-1">
				As My Tutor Jungle's tutors, we teach, rethink and customise our knowledge for each student, as every child is different. We are passionate in transferring new knowledge to students & rethink and customise new ways to motivate individual student.
			</p>
			<p class="md-body-1">
				Driven by our passion and enthusiasm to make a difference, we decided to combine these values and enhance the tutoring industry.
			</p>
			<p class="md-body-1">
				My Tutor Jungle wishes to enhance the tutoring experiences into a convenient, unique and honest way such that parents will have a full experience when hiring a teacher for your child.
			</p>
			<br>
			<div class="bragging-words">	
				<p class="md-headline text-center">What matters most</p>
				<ul>
					
					<li class="md-display-1" layout="row" layout-align="start center">
						<i flex="10" class="fa fa-clock-o"></i>
						<h5 class="md-title main-points">
							Committed tutors
						</h5>
					</li>
					<p class="md-body-1 text-muted details">Our tutors make a commitment to My Tutor Jungle & parents on the period they wish to teach.</p>
					<md-divider></md-divider>

					<li class="md-display-1" layout="row" layout-align="start center">
						<i flex="10" class="fa fa-smile-o"></i>
						<h5 class="md-title main-points">
							People experience
						</h5>
					</li>
					<p class="md-body-1 text-muted details">Specific personalities of the students that the tutors have taught before.</p>
					<md-divider></md-divider>

					<li class="md-display-1" layout="row" layout-align="start center">
						<i flex="10" class="fa fa-certificate"></i>
						<h5 class="md-title main-points">
							Endorsement
						</h5>
					</li>
					<p class="md-body-1 text-muted details">Testimonials given by ex-students or parents are helpful to provide parents the comfort they need when selecting a new teacher.</p>
					<md-divider></md-divider>

					<li class="md-display-1" layout="row" layout-align="start center">
						<i flex="10" class="fa fa-usd"></i>
						<h5 class="md-title main-points">
							Negotiation
						</h5>
					</li>
					<p class="md-body-1 text-muted details">Able to negotiate for an affordable tuition rate by using commitment period.</p>

				</ul>
			</div>

			<!-- <p class="md-subhead">Don't hesitate, try us today!</p> -->
		</md-card-content>
	</md-card>
	
	<div flex="20" flex-gt-lg="30"></div>
	<meteor-include	src="footer"></meteor-include>
	</md-content>
</div>

<!-- 
About us
We have tried Tinder and we love it. We also love to rethink business models. At the same time, we are passionate Tutors. One day, we decided to combine both them and think differently for the tutoring industry.  

My Tutor Jungle's objective is to sell the tutoring experience in a convenient, unique and honest way such that parents will have a complete understanding of what matters most to them.

We think these are what matter most to parents:
- Commitment period of Tutors
- The specific personalities of the students that the tutors have taught before
- Endorsement by ex-students or parents
- And of course, to negotiate for an affordable tuition rate by using commitment period

Oh, did we mention that our aim is to create a win-win situation? 

Don't hesitate, try us today!

Sign up here if you are a tutor:
Sign up here if you are a parent: -->