<md-card class="user-dashboard md-whiteframe-z5" ng-repeat="user in users" layout="column">
	<md-card-content layout="row" flex>
		<div layout="column" flex="50">
			<h5 class="md-title">Email: <span class="md-body-2">{{user.emails[0].address}}</span></h5>
			<h5 class="md-title">Name: <span class="md-body-2">{{user.first_name + ' ' + user.last_name}}</span></h5>
			<h5 class="md-title">DOB: <span class="md-body-2">{{user.dob | date:"dd MMM yyyy"}}</span></h5>
			<h5 class="md-title">Mobile: <span class="md-body-2">{{user.mobileNo}}</span></h5>
			<h5 class="md-title">NRIC: <span class="md-body-2">{{user.nric}}</span></h5>
			<h5 class="md-title">Address: <span class="md-body-2">{{user.address.blockNo + ', ' + user.address.roadName + ', ' + user.address.unitNo}}</span></h5>
			<h5 class="md-title">Qualifications: <span class="md-body-2">{{user.qualifications.highest}}</span></h5>
		</div>
		<div layout="column" flex>
			<h5 class="md-title">Commitment Period: <span class="md-body-2">{{user.commitmentPeriod}}</span></h5>
			<h5 class="md-title">Gender: <span class="md-body-2">{{user.gender}}</span></h5>
			<h5 class="md-title">Years of experience: <span class="md-body-2">{{user.experience.years}}</span></h5>
			<h5 class="md-title">Type of Tutor: <span class="md-body-2">{{user.experience.type}}</span></h5>
			<h5 class="md-title">Teaching Level Experience: <span ng-repeat="(key, value) in user.teachingLevels" class="md-body-2"><div ng-if="value">{{key}}</div></span></h5>
			<h5 class="md-title">Preferred Locations: <span ng-repeat="(key, value) in user.preferredLocations" class="md-body-2"><div ng-if="value">{{key}}</div></span></h5>
			<h5 class="md-title">Niche Experiences: <span ng-repeat ="(key, value) in user.experience" class="md-body-2">
				<div ng-if="value!='false' && ( key!='years' && key!='type')">{{key}}</div>
			</span>
			</h5>
		</div>
	</md-card-content>
	<div layout="row">
		<span flex></span>
		<md-button ng-click="remove(user._id)" class="md-raised md-warn" flex="20">Remove User</md-button>
	</div>
</md-card>