<div class="landing">
	
	<!-- <img src="/landing-page3.jpg" class="bg" alt="image you want in background"/> -->
	
	<md-content class="about md-primary" layout="row">
		
	<md-card offset="20" offset-gt-lg="20" flex>
		<md-toolbar class="md-accent md-hue-3 about-us-toolbar">
			  <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row">
			      <h1 class="md-display-1 text-center modded-button">FAQ</h1>
			      <span flex></span>
			      <i class="fa fa-question-circle"></i>
			  </div>
			</md-toolbar>
		<md-card-content class="md-padding about-us">
			<p class="md-body-1">
				Dear Tutor/Parent,
				<br> 
				In view of the Personal Data Provision Act, My Tutor Jungle has responsibly provided some FAQs below to provide clarity.
			</p>
			<br>
			<p class="md-body-1">
				By registering with My Tutor Jungle as a tutor/parent, you have given your clear and unambiguous consent, to be contacted by phone call, text messages (eg. SMS/ MMS) and email on available tuition assignments/suitable tutors.
			</p>
			<br>
			<p class="md-body-1">
				<span style="font-weight: bold;">Why are you collecting personal data and information from us (tutors and parents)? </span><br>
				The purpose of collecting your personal data and information is strictly for verification purposes to determine the accuracy of information given by you to My Tutor Jungle for tutor-tutee matching services and for accountability from the tutors/parents to My Tutor Jungle.
			</p>
			<br>
			<p class="md-body-1">
				<span style="font-weight: bold;">Where is the personal data and information kept? Is it secure?</span><br>
				All personal data and information will be kept securely in My Tutor Jungle’s database under strict access. We will not disclose or sell any information to third-party companies or third-party individual(s). However, when the assignment has been confirmed (i.e. payment has  been made to My Tutor Jungle), your contact number and email address will be disclosed to the party who used/hired your service for communication purposes. In addition, the tutor will also receive the  address of the tutee/parent for obvious reasons. 
			</p>
			<br>
			<p class="md-body-1">
				<span style="font-weight: bold;">How do I unsubscribe?</span><br>
				You may wish to unsubscribe from notices by strictly write in only to <a href="mailto:info@mytutorjungle.com">info@mytutorjungle.com</a>. You will be unsubscribed successfully upon receiving a confirmation email from us. From this point, you will no longer receive any further information from My Tutor Jungle.
			</p>
		</md-card-content>
	</md-card>
	
	<div flex="20" flex-gt-lg="20"></div>
	<meteor-include	src="footer"></meteor-include>
	</md-content>
</div>