<div ng-controller="HeaderController" flex>
	<md-toolbar layout="row" class="md-whiteframe-z1 mtj-menu">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Menu">
				<i class="glyphicon glyphicon-menu-hamburger"></i>
			</md-button>
			<span class="modded-button">
				<md-button ng-click="navigate('home')">My Tutor Jungle</md-button>
			</span>

			<span flex></span>
			<div>
				<h5 ng-show="$root.currentUser">Welcome, {{ $root.currentUser.emails[0].address }}.</h5>
				
				<md-button ng-click="navigate('login')" ng-hide="$root.currentUser">
				<i class="fa fa-sign-in"></i>
				Login
				</md-button>
				
				<md-button ng-click="navigate('signup')" ng-hide="$root.currentUser">
				<i class="fa fa-pencil-square-o"></i>
				Sign Up
				</md-button>
			
			</div>
			<div>
				<md-button ng-click="navigate('logout')" ng-show="$root.currentUser">
				<i class="fa fa-sign-out"></i>
				Logout
				</md-button>
			</div>
		</div>
	</md-toolbar>
</div>

<section layout="row" flex>
	<md-sidenav class="md-sidenav-left mtj-sidenav md-whiteframe-z2" md-component-id="left">
		
		<md-toolbar>
			<h1 class="md-toolbar-tools modded-button">My Tutor Jungle</h1>
		</md-toolbar>

		<md-content data-ng-controller="HeaderController" layout-fill>
			<md-list>

				<!-- <md-subheader>My Tutor Jungle</md-subheader>
				<md-list-item ng-click="navigate('pricing')">
					<p>Pricing Plans</p>
				</md-list-item>
				<md-list-item ng-click="navigate('jungle')">
					<p>Tutor Jungle</p>
				</md-list-item> -->
				<!-- <md-subheader>My Tutor Jungle</md-subheader> -->
				<md-list-item ng-click="navigate('signup')" layout="row" ng-hide="$root.currentUser">
					<p flex="90">Sign Up</p>
					<i class="fa fa-pencil-square-o" flex="10"></i>
				</md-list-item>
				<md-list-item ng-click="navigate('login')" layout="row" ng-hide="$root.currentUser">
					<p flex="90">Login</p>
					<i class="fa fa-sign-in" flex="10"></i>
				</md-list-item>
				<md-list-item ng-click="navigate('about')" layout="row">
					<p flex="90">About Us</p>
					<i class="fa fa-info-circle" flex="10"></i>
				</md-list-item>
				
				<md-divider></md-divider>
				<div ng-show="$root.currentUser">
					<md-subheader class="modded-button">My Account</md-subheader>
					<md-list-item ng-click="navigate('edit-profile')" layout="row">
						<p flex="90">Edit Profile</p>
						<i class="fa fa-pencil" flex="10"></i>
					</md-list-item>
					<!-- <md-list-item ng-click="navigate('favourites')">
						<p flex="90">My Favourites List</p>
					</md-list-item> -->
					<!-- <md-list-item ng-click="navigate('dashboard')" layout="row">
						<p flex="90">Dashboard</p>
						<i class="fa fa-tachometer" flex="10"></i>
					</md-list-item> -->
					
					<md-list-item ng-click="navigate('logout')" layout="row">
						<p flex="90">Logout</p>
						<i class="fa fa-sign-out" flex="10"></i>
					</md-list-item>
				</div>
			</md-list>
		</md-content>

	</md-sidenav>
</section>

